﻿@using ContentDistributor.Controllers;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="span12">
        @if (ViewBag.Error != null) {
            <div class="alert alert-error">@ViewBag.Error</div>
        }
        
        @if(Session["MessageSuccess"] != null && Session["MessageSuccess"].ToString().Trim().Length > 0){
            <div class="alert alert-success">@Html.Raw(Session["MessageSuccess"].ToString())</div>
            Session["MessageSuccess"] = null;
        }
    </div>
</div>

<div class="row">
    <div class="span6 offset3 border-bottom">
        <h3>
            Sign In</h3>
    </div>
</div>
<div class="row">
    <div class="span6 offset3">
        <p><small><strong>Don't have an existing Planetshakers account? It takes less than 2 minutes to @Html.ActionLink("create a new account", "Register").</strong></small></p>
        <form class="form-horizontal" action="@Url.Action("Index", "Account")" method="post">
            <div class="control-group">
                <label class="control-label" for="email">
                    E-mail address</label>
                <div class="controls">
                    <input type="text" id="email" name="email" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="password">
                    Password</label>
                <div class="controls">
                    <input type="password" id="password" name="password" />
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn">
                        Sign in</button>
                    or <a>Forgot your password?</a>
                </div>
            </div>
        </form>
    </div>
</div>
