﻿@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {


        $("#signUpForm").validate({
            rules: {
                givenname: "required",
                familyname: "required",
                email: {
                    required: true,
                    email: true
                },
                password: "required",
                passwordconfirm: {
                    equalTo: "#password"
                },
                year: "required"
            }
        });
    });
</script>
<div class="row">
    <div class="span6 offset3 border-bottom">
        <h3>
            Register</h3>
    </div>
</div>
<div class="row">
    <div class="span6 offset3">
        <form class="form-horizontal" id="signUpForm" method="post">
            <div class="control-group">
                <label class="control-label" for="">Given name</label>
                <div class="controls">
                    <input type="text" name="givenname" id="givenname" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="">Family name</label>
                <div class="controls">
                    <input type="text" name="familyname" id="familyname" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="">Date of birth</label>
                <div class="controls">
                    <select id="day" name="day" class="input-small">
                        <option>29</option>
                        <option>30</option>
                        <option>31</option>
                    </select>
                    <select id="month" name="month" class="input-medium">
                        <option value="1">Jan</option>
                        <option value="2">Feb</option>
                        <option value="3">Mar</option>
                    </select>
                    <input id="year" name="year" type="text" class="input-small" />
                </div>
            </div>
            <div class="control-group border-bottom">
                <label class="control-label">E-mail address</label>
                <div class="controls">
                    <input type="text" name="email" id="email" />
                </div>
            </div>
            <h6>Protect your account with a password</h6>
            <div class="control-group">
                <label class="control-label">Password</label>
                <div class="controls">
                    <input type="text" name="password" id="password" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Confirm your password</label>
                <div class="controls">
                    <input type="text" name="passwordconfirm" id="passwordconfirm" />
                </div>
            </div>
            <button class="btn btn-primary pull-right">Sign up</button>
            <small class="muted">By clicking the sign up button, I agree to the terms of use of this service.</small>
        </form>
    </div>
</div>