﻿@using ContentDistributor.Models;
@using System.Globalization;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="span12">
        <h1>
            Hi @(CultureInfo.CurrentCulture.TextInfo.ToTitleCase(ViewBag.Contact.FirstName))!</h1>
    </div>
</div>
<div class="row">
    <div class="span12">
        <ul class="thumbnails">
            @foreach (Voucher v in ViewBag.Vouchers) {
                <li class="span3">
                    <div class="thumbnail">
                        <img src="@(v.Product.UrlThumbnail)" alt="@(v.Product.Name)" width="250" height="250" />
                        <div class="caption">
                            <h3>@(v.Product.Name)</h3>
                            <p>@(v.Product.PreviewDescription)</p>
                            <p>@Html.ActionLink("View content", "View", "Voucher", new { v.VoucherCode }, new { @class = "btn btn-primary" })</p>
                        </div>
                    </div>
                </li>
            }

            <li class="span3">
                <div class="thumbnail">
                    <img src="http://placehold.it/250" alt="Redeem a Voucher" />
                    <div class="caption">
                        <h3>:)</h3>
                        <p>@Html.ActionLink("Redeem a voucher", "Redeem", new { }, new { @class = "btn btn-primary"})</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>