﻿@using ContentDistributor.Controllers;

@{
    ViewBag.Title = "Redeem";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.RedemptionSuccess != null) {
    <div class="row">
        <div class="span12">
            @if(ViewBag.Error.ToString().Length > 0) {
            <div class="alert alert-error">
                @Html.Raw(ViewBag.Error)
            </div>
            }
        </div>
    </div>
}

<div class="row">
    <div class="span6 offset3 border-bottom">
        <h3>Redeem a voucher</h3>
    </div>
</div>

<div class="row">
    <div class="span6 offset3 border-bottom">
        <form class="form-horizontal" action="@Url.Action("Redeem", "Voucher")" method="post">
        <div class="control-group">
            <label class="control-label" for="email">
                Voucher code</label>
            <div class="controls">
                <input type="text" id="voucherCode" name="voucherCode" />
                <p><small class="muted">This code can be found at the back of the physical voucher card.</small></p>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn">Redeem <i class="icon-chevron-right"></i></button>
            </div>
        </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="span6 offset3">
        <h5>Help</h5>
        <p>Having trouble redeeming a voucher? <a>Get help here.</a></p>
    </div>
</div>