﻿@{
    ViewBag.Title = "Redeem Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    setTimeout(function () {
        window.location.href = $('.VoucherIndex').attr('href');
    }, 7000);
</script>

<div class="row">
    <div class="span12">
        <div class="alert alert-success">Congratulations! The voucher <strong>@ViewBag.VoucherCode</strong> was successfully addedd to your account. You should be automatically redirected to <strong>My Content</strong> page. If you are not, @Html.ActionLink("click here", "Index", new { }, new { @class = "VoucherIndex"}).</div>
    </div>
</div>