﻿@using ContentDistributor.Models;

@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="span9">
        <h2>@(ViewBag.ProductName)</h2>
    </div>
    <div class="span2 pull-right">
        @Html.ActionLink("View all my content", "Index")
    </div>
</div>
<div class="row">
    <div class="span3">
        <div class="row align-center">
            <p /><img src="@(ViewBag.Thumbnail)" alt="@(ViewBag.ProductName)" width="250" height="250" />
        </div>
        <p class="border-bottom"><strong>Description</strong></p>
        <p class="muted">@(ViewBag.ProductDescription)</p>
    </div>
    <div class="span9">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th style="width:45px;"></th>
                    <th>File Name</th>
                    <th style="width:130px;"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (Item i in ViewBag.Items) {
                    <tr>
                        <td>@(i.ItemNo)</td>
                        <td>@(i.Name)</td>
                        <td><a class="btn" href="@(i.FileURL)"><i class="icon-download-alt"></i>&nbsp;&nbsp;Download</a></td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3" class="align-center"><small class="muted">@(ViewBag.Items.Count + " file" + (ViewBag.Items.Count > 1 ? "s" : ""))</small></td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>