﻿@using ContentDistributor.ActionFilters
@using ContentDistributor.Authenticator

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/bootstrap/css/bootstrap.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <script src="http://code.jquery.com/jquery-latest.js" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.js")"></script>
    <script src="@Url.Content("~/Content/bootstrap/js/bootstrap.js")" type="text/javascript"></script>
    <div class="container">
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="#"><img src="../../Content/image/logo.png" /></a>
                    <ul class="nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Redeem Voucher <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#"><i class="icon-search"></i> Hello</a></li>
                            </ul>
                        </li>
                    </ul>
                    @if (SecurePageFilter.SecurePage((Contact)Session["Contact"], Request.Cookies)) { 
                        <ul class="nav pull-right">
                            <li>@Html.ActionLink("Sign out", "LogOut", "Account")</li>
                        </ul>
                    }
                </div>
            </div>
        </div>
        <div class="container clear-navbar">
            @RenderBody()
        </div>
    </div>
</body>
</html>
